<figure class="image">
  <img src="{{ include.url | prepend: site.baseurl }}" alt="{{ include.description }}" style="width: {{ include.width }}"/>
  <figcaption><b>{{ include.description }}</b></figcaption>
</figure>

<h4>What's News</h4>
  <div style="height:200px;overflow-y:auto;background:#ffffff;">
    <li>
      [2023.02] I will give a talk on graph Transformers at AI Times.
  </li>
    <li>
      [2023.01] Three papers with one spotlight (notably-top-25%) were accepted to ICLR 2023.
  </li>
  <li>
    [2023.01] I will serve as the PC member for SIGKDD 2023.
</li>
  <li>
    [2022.12] I am invited as the reviewer for ICML 2023.
</li>
    <li>
      [2022.11] Two papers are selected as <b>Spotlight</b> (less than 5%) on NeurIPS 2022!
  </li>
  <li>
      [2022.10] I was awarded with National Scholarship (top 1%).
  </li>
  <li>
    [2022.10] I will give a talk on graph OOD generalization at LoG seminar.
</li>
  <li>
      [2022.09] Five papers on OOD generalization and graph Transformers were accepted to NeurIPS'22.
  </li>
  <li>
    [2022.08] I am invited as the reviewer for ICLR 2023.
</li>
  <li>
      [2022.05] Two papers on GNNs and causal learning were accepted to SIGKDD'22.
  </li>
  <li>
      [2022.04] One paper on negative sampling was accepted to IJCAI'22.
  </li>
  <li>
    [2022.03] I am invited as the reviewer for NeurIPS 2022.
</li>
<li>
  [2022.03] I will give a talk on out-of-distribution generalization at AI Drive PaperWeekly.
</li>
  <li>
      [2022.01] One paper on learning with graph distribution shifts was accepted to ICLR'22.
  </li>
  <li>
     [2021.12] I will give a talk on open-world learning at Baiyulan young researcher forum.
  </li>
  <li>
      [2021.11] I was awarded with Baidu Scholarship (only 10 from worldwide).
  </li>
  <li>
      [2021.10] I was awarded with Microsoft Research PhD Fellowship (only 11 from Asia).
  </li>
  <li>
      [2021.09] Three papers were accepted to NeurIPS'21.
  </li>
  <li>
      [2021.08] One paper on sequential recommendation was accepted to CIKM'21 as spotlight.
  </li>
  <li>
      [2021.04] I was elected as Global Top 100 AI Rising Start!
  </li>
    </div>